body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 85%;
    width:550px;
    margin:0 auto;
    padding:10px;
    background-color:white;
    border: 2px solid #0000ff;
}
h1{
    font-size:140%;
    color:#0000ff;
    padding:0;
    margin-bottom:.5em;
  
}
label{
    float:left;
    width:10em;
}
/*Style form Classes*/
.entry{
    margin-left:1em;
    margin-bottom:.5em;
    width:10em;
}
.validator{
    font-size:95%;
    color:red;
    margin-left:1em;
}
.button{
    margin-top:1em;
    width:10em;
}
/*Styles for server controls*/
#ddlMonthlyInvestment{
    width:10.5em;
}
#lblFutureValue{
    font-weight:bold;
    margin-left:1em;
}
#btnClear{
    margin-left:1em;
}